<card title="Nieruchomości" [showFooter]="true" iconName="apartment">
  <content>
    @if(sortedRealEstate()) {
    <table mat-table [dataSource]="sortedRealEstate()!">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Opis</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="legalTitle">
        <th mat-header-cell *matHeaderCellDef>Tytuł prawny</th>
        <td mat-cell *matCellDef="let element">
          {{ element.legalTitle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Wartość</th>
        <td mat-cell *matCellDef="let element" class="value-cell">
          {{ element.value | numberSpace }} zł
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }
  </content>
  <footer>
    <p>
      {{ numberOfProperties() }}
      @if(numberOfProperties() === 1) { nieruchomość } @else { nieruchomości }
      na łączną wartość
      <b>{{ sumValue() | numberSpace }} zł </b>.
    </p>
  </footer>
</card>
