.container {
  background: #fff;
  border-radius: 16px;
  box-shadow: var(--mat-sys-level3);
  padding: 16px;
  transition: all 0.3s ease;
}

.container:hover {
  box-shadow: var(--mat-sys-level5);
  transform: translateY(-5px);
}

.header-container h2 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header-container mat-icon {
  margin-right: 8px;
  color: var(--color-accent);
}

mat-divider {
  border-color: var(--mat-sys-outline-variant);
}

.content-container {
  padding: 8px 0;
  line-height: 1.6;
}

.footer-container {
  margin-top: 8px;
  text-align: right;
}
