<h3>Histogram</h3>

<div>
  Poniższy wykres obrazuje rozkład posiadanych nieruchomości o wartości powyżej

  <input
    matInput
    type="number"
    min="0"
    step="10000"
    [value]="minValue()"
    (input)="updateMinValue($event)"
  />
  zł.*
  <div class="explanation-text">
    *Celem wyłączenia z analizy nieruchomości typu "miejsce postojowe" lub
    podobnych.
  </div>
</div>

<div class="chart-contaier">
  <canvas
    baseChart
    [data]="this.barChartData()"
    [options]="this.barChartOptions"
    [type]="'bar'"
  >
  </canvas>
</div>

<div class="top-table-container">
  <h3>Najdroższe nieruchomości</h3>
  <table mat-table [dataSource]="topRealEstate()">
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef>Właściciel</th>
      <td mat-cell *matCellDef="let element" class="name-cell">{{ element.owner.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Opis</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
  
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Wartość</th>
      <td mat-cell *matCellDef="let element" class="value-cell">
        {{ element.value | numberSpace }} zł
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="topRealEstateColumns"></tr>
    <tr
      mat-row
      class="clickable-row"
      *matRowDef="let row; columns: topRealEstateColumns"
      (click)="onTopRealEstateClicked(row)"
    ></tr>
  </table>
  
</div>
