.full-width {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.picture-row {
  vertical-align: top;
}

.profile-picture {
  max-width: 120px;
  max-height: 200px;
  margin: 0 8px;
}

.assert-declarations-tab .mat-tab {
  margin-bottom: 48px;
}

.button-container {
  display: flex;
  flex-direction: row;

  button {
    margin: 8px;
  }
}

.card-container {
  margin: 16px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
