.full-width
{
  width: 100%;
}

.assert-declarations-tab .mat-tab {
  margin-bottom: 48px;
}

.card-container
{
  margin: 16px;
}


.flex-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}