@if(!this.personData) {

<app-person-autocomplete (personSelected)="onPersonSelected($event)" />
} @else {
<h2>
  <div class="header">
    {{ this.person()?.fullName }}
    <button mat-fab extended (click)="this.closePerson()">
      <mat-icon>close</mat-icon>
      Zamknij
    </button>
  </div>
</h2>
<card title="Dane osobowe" class="card" [showFooter]="true">
  <content>
    <table>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Imię</mat-label>
            <input matInput [(ngModel)]="personData.firstName" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Nazwisko</mat-label>
            <input matInput [(ngModel)]="personData.lastName" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Data urodzenia</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              name="date"
              [(ngModel)]="personData.dateOfBirth"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Miejsce urodzenia</mat-label>
            <input matInput [(ngModel)]="personData.placeOfBirth" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width">
            <mat-label>Link do zdjęcia</mat-label>
            <input matInput [(ngModel)]="personData.imageUrl" />
          </mat-form-field>
        </td>
        <td rowspan="2" class="picture-row">
          <img class="profile-picture" [src]="personData.imageUrl" />
        </td>
      </tr>
      <tr>
        <mat-form-field class="full-width">
          <mat-select [(value)]="personData.partyId">
            @for (party of parties(); track $index) {
            <mat-option [value]="party.id">{{ party.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-slide-toggle
          labelPosition="before"
          [(ngModel)]="personData.isHighlight"
          >Wyświetl na stronie głównej</mat-slide-toggle
        >
      </tr>
    </table>
  </content>
  <footer>
    <div class="button-container">
      <button mat-mini-fab (click)="this.setPersonData()">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-mini-fab (click)="this.updatePerson()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </footer>
</card>

<mat-tab-group
  mat-stretch-tabs="false"
  (selectedIndexChange)="onSelectedAssetDeclarationChanged($event)"
>
  @for (assetDeclaration of this.person()?.assetDeclarations; track
  assetDeclaration.date ){ @if (assetDeclaration && assetDeclaration.date) {
  <mat-tab
    [label]="(assetDeclaration.date | date : 'yyyy') ?? 'invalid date'"
    class="assert-declarations-tab"
  >
    <!--Dane deklaracji podatkowej -->
    <div class="card-container">
      <card title="Dane deklaracji majątkowej" class="card">
        <content>
          <table>
            <tr>
              <td>Data:</td>
              <td>
                {{ assetDeclaration.date | date : "dd.MM.yyyy" }}
              </td>
            </tr>
            <tr>
              <td>Link:</td>
              <td>
                <a
                  [href]="assetDeclaration.documentUrl"
                  target="_blank"
                  class="icon-link"
                >
                  <mat-icon>open_in_new</mat-icon>
                </a>
              </td>
            </tr>
          </table>
        </content>
      </card>
    </div>

    <!--Gotówka -->
    <div class="card-container">
      <card title="Gotówka" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'currency', header: 'Waluta', type: 'text' },
              {
                key: 'currencyValue',
                header: 'Wartość waluty',
                type: 'number'
              },
              { key: 'baseValue', header: 'Wartość zł', type: 'number' }
            ]"
            [data]="assetDeclaration.cashPositions"
            (dataChange)="onCashPositionsChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Nieruchomości -->
    <div class="card-container">
      <card title="Nieruchomości" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              {
                key: 'legalTitle',
                header: 'Tytuł Prawny',
                type: 'text'
              },
              { key: 'value', header: 'Wartość zł', type: 'number' }
            ]"
            [data]="assetDeclaration.realEstate"
            (dataChange)="onRealEstateChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Działalność zawodowa -->
    <div class="card-container">
      <card title="Działalność zawodowa" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'businessName', header: 'Nazwa', type: 'text' },
              {
                key: 'businessType',
                header: 'Rodzaj',
                type: 'text'
              },
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'income', header: 'Dochód', type: 'number' }
            ]"
            [data]="assetDeclaration.businessActivities"
            (dataChange)="onBusinessActivityChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Dochody -->
    <div class="card-container">
      <card title="Dochody" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'yearlyValue', header: 'Dochód', type: 'number' }
            ]"
            [data]="assetDeclaration.incomes"
            (dataChange)="onIncomesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Papiery wartościowe -->
    <div class="card-container">
      <card title="Papiery wartościowe" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'name', header: 'Nazwa', type: 'text' },
              { key: 'quantity', header: 'Ilość', type: 'number' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.securityPositions"
            (dataChange)="onSecurityPositionsChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!-- Zobowiązania -->
    <div class="card-container">
      <card title="Zobowiązania" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.liabilities"
            (dataChange)="onLiabilitiesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Należności -->
    <div class="card-container">
      <card title="Należności" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.receivables"
            (dataChange)="onReceivablesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Mienie osobiste -->
    <div class="card-container">
      <card title="Mienie osobiste" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.personalProperties"
            (dataChange)="onPersonalPropertiesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>
  </mat-tab>
  } }
</mat-tab-group>
}
