<app-person-autocomplete (personSelected)="onPersonSelected($event)" />
<h2>{{ this.person()?.fullName }}</h2>
<mat-tab-group
  mat-stretch-tabs="false"
  (selectedIndexChange)="onSelectedAssetDeclarationChanged($event)"
>
  @for (assetDeclaration of this.person()?.assetDeclarations; track
  assetDeclaration.date ){ @if (assetDeclaration && assetDeclaration.date) {
  <mat-tab
    [label]="(assetDeclaration.date | date : 'yyyy') ?? 'invalid date'"
    class="assert-declarations-tab"
  >
    <!--Dane deklaracji podatkowej -->
    <div class="card-container">
      <card title="Dane deklaracji majątkowej" class="card">
        <content>
          <mat-form-field>
            <mat-label>Data złożenia</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="assetDeclaration.date"
              name="date"
            />
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <a mat-button [href]="assetDeclaration.documentUrl" target="_blank">
            Otwórz deklarację w nowej karcie
          </a>
        </content>
      </card>
    </div>

    <!--Gotówka -->
    <div class="card-container">
      <card title="Gotówka" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'currency', header: 'Waluta', type: 'text' },
              {
                key: 'currencyValue',
                header: 'Wartość waluty',
                type: 'number'
              },
              { key: 'baseValue', header: 'Wartość zł', type: 'number' }
            ]"
            [data]="assetDeclaration.cashPositions"
            (dataChange)="onCashPositionsChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Nieruchomości -->
    <div class="card-container">
      <card title="Nieruchomości" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              {
                key: 'legalTitle',
                header: 'Tytuł Prawny',
                type: 'text'
              },
              { key: 'value', header: 'Wartość zł', type: 'number' }
            ]"
            [data]="assetDeclaration.realEstate"
            (dataChange)="onRealEstateChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Działalność zawodowa -->
    <div class="card-container">
      <card title="Działalność zawodowa" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'businessName', header: 'Nazwa', type: 'text' },
              {
                key: 'businessType',
                header: 'Rodzaj',
                type: 'text'
              },
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'income', header: 'Dochód', type: 'number' }
            ]"
            [data]="assetDeclaration.businessActivities"
            (dataChange)="onBusinessActivityChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Dochody -->
    <div class="card-container">
      <card title="Dochody" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'yearlyValue', header: 'Dochód', type: 'number' }
            ]"
            [data]="assetDeclaration.incomes"
            (dataChange)="onIncomesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Papiery wartościowe -->
    <div class="card-container">
      <card title="Papiery wartościowe" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'name', header: 'Nazwa', type: 'text' },
              { key: 'quantity', header: 'Ilość', type: 'number' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.securityPositions"
            (dataChange)="onSecurityPositionsChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!-- Zobowiązania -->
    <div class="card-container">
      <card title="Zobowiązania" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.liabilities"
            (dataChange)="onLiabilitiesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>

    <!--Należności -->
    <div class="card-container">
      <card title="Należności" class="card">
        <content>
          <app-data-grid
            [columns]="[
              { key: 'description', header: 'Opis', type: 'text' },
              { key: 'value', header: 'Wartość', type: 'number' }
            ]"
            [data]="assetDeclaration.receivables"
            (dataChange)="onReceivablesChanged($event)"
          ></app-data-grid>
        </content>
      </card>
    </div>
  </mat-tab>
  } }
</mat-tab-group>
