main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masonry-item {
  width: 30vw;
  min-width: 400px;
  margin: 10px;
}
