<main>
  <app-person-autocomplete
    class="person-autocomplete"
    [minimumMatchingLetters]="2"
    [selectedPerson]="this.selectedPerson()"
    (personSelectedEvent)="onPersonSelected($event)"
  />
  @if(this.selectedPerson() && this.lastDeclaration()) {
  <div class="container">
    <div class="column">
      <div>
        <app-personal-data-card [person]="this.selectedPerson()!" />
      </div>
      <div>
        <app-declarations-card
          [declarations]="this.selectedPerson()!.assetDeclarations"
        />
      </div>
    </div>
    <div class="column">
      <div>
        <app-income-card [incomes]="lastDeclaration()!.incomes" />
      </div>
      <div>
        <app-currencies-card
          [cashPositions]="lastDeclaration()!.cashPositions"
        />
      </div>
    </div>
    <div class="column">
      <div>
        <app-real-estate-card [realEstate]="lastDeclaration()!.realEstate" />
      </div>
      <div>
        <app-personal-properties-card
          [personalProperties]="lastDeclaration()!.personalProperties"
        />
      </div>
    </div>
  </div>
  } @else if (this.isLoading()) {
  <div class="loading-container">
    <mat-spinner />
  </div>
  }
</main>
