<main>
  <app-person-autocomplete
    class="person-autocomplete"
    [minimumMatchingLetters]="2"
    [selectedPerson]="this.selectedPerson()"
    (personSelectedEvent)="onPersonSelected($event)"
  />
  @if(this.selectedPerson() && this.lastDeclaration()) {
  <ngx-masonry
    [ordered]="true"
    [options]="{ fitWidth: true, resize: true }"
    (layoutComplete)="onLayoutComplete()"
  >
    <app-personal-data-card
      ngxMasonryItem
      class="masonry-item"
      [person]="this.selectedPerson()!"
    />
    <app-declarations-card
      ngxMasonryItem
      class="masonry-item"
      [declarations]="this.selectedPerson()!.assetDeclarations"
    />
    <app-income-card
      ngxMasonryItem
      class="masonry-item"
      [incomes]="lastDeclaration()!.incomes"
    />
    <app-currencies-card
      ngxMasonryItem
      class="masonry-item"
      [cashPositions]="lastDeclaration()!.cashPositions"
    />
    <app-real-estate-card
      ngxMasonryItem
      class="masonry-item"
      [realEstate]="lastDeclaration()!.realEstate"
    />
    <app-personal-properties-card
      ngxMasonryItem
      class="masonry-item"
      [personalProperties]="lastDeclaration()!.personalProperties"
    />
  </ngx-masonry>
  } @else if (this.isLoading()) {
  <div class="loading-container">
    <mat-spinner />
  </div>
  }
</main>
