.person-container {
  display: block;
  text-align: center;
  background-color: var(--color-surface);
  border-radius: 20px;
  box-shadow: var(--mat-sys-level3);
  width: 80%;
  height: 90%;
  margin: 24px;
  padding: 24px;
  cursor: pointer;
}

.person-container:hover {
  box-shadow: var(--mat-sys-level5);
  transform: translateY(-5px);
}

img {
  border-radius: 20px;
  object-fit: "cover";
  height: 256px;
}

p {
  color: var(--mat-sys-outline);
  font-weight: bold;
}
