<card
  title="Waluty"
  iconName="account_balance"
  [showFooter]="this.sortedCash() !== undefined"
>
  <content>
    @if(this.sortedCash()) {
    <table mat-table [dataSource]="this.sortedCash()!">
      <ng-container matColumnDef="currencyValue">
        <th mat-header-cell *matHeaderCellDef class="value-cell">Waluta</th>
        <td mat-cell *matCellDef="let element" class="value-cell">
          {{ (element.currencyValue | numberSpace : 100) ?? "-" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          {{ element.currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="baseValue">
        <th mat-header-cell *matHeaderCellDef class="value-cell">
          Wartość w zł
        </th>
        <td mat-cell *matCellDef="let element" class="value-cell">
          {{ (element.baseValue | numberSpace : 100) ?? "-" }} zł
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    } @else { Brak danych do wyświetlenia. }
  </content>
  <footer>
    <p>
      Łącznie równowartość <b>{{ this.sum() | numberSpace }} zł</b>.
    </p>
  </footer>
</card>
