.container {
  background-color: var(--mat-sys-surface);
  border-radius: 20px;
}

.header-container {
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
}

.header, .footer {
  height: 50px;
  display: flex;
  align-content: center;
}

.content {
  margin: 30px 10px 30px;
}

.footer-container {
  background-color: var(--mat-sys-outline-variant);
  border-radius: 0px 0px 20px 20px;
  padding: 10px;
}