main {
  padding: 16px;
}

.commands-container {
  width: 600px;
  display: grid;
  grid-template-columns: auto auto;
}

.buttons-container {
  vertical-align: middle;
}

.buttons-container li {
    vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
}
