@if(this.persons()) {
<div class="table-container">
  <app-parties-selector (selectedParties)="updateSelectedParties($event)" />

  <table
    mat-table
    [dataSource]="this.persons()!"
    matSort
    [matSortActive]="'person'"
    [matSortDirection]="'asc'"
    (matSortChange)="updateSort($event)"
    [matSortDisabled]="isLoading()"
  >
    <ng-container matColumnDef="person">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Polityk</th>
      <td mat-cell *matCellDef="let element" class="person-cell">
        <div class="person-container">
          <img [src]="element.imageUrl" />
          <div class="name-party-container">
            <span class="name">{{ element.fullName }}</span>
            <span class="party">{{ element.party.name }}</span>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="netWorth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Majątek</th>
      <td mat-cell *matCellDef="let element" class="value-cell">
        {{ element.netWorth | numberSpace }} zł
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['person', 'netWorth']"></tr>
    <tr
      mat-row
      class="clickable-row"
      *matRowDef="let row; columns: ['person', 'netWorth']"
      (click)="navigateToPerson(row)"
    ></tr>
  </table>
  <mat-paginator
    [length]="this.totalCount()"
    [pageSizeOptions]="[10, 25, 50]"
    (page)="updatePagination($event)"
    [disabled]="isLoading()"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
} @else {
<div class="loading-container">
  @for(item of [].constructor(5); track $index) {
  <div class="skeleton-container">
    <ngx-skeleton-loader
      [theme]="{ width: '50px',
            height: '50px',
            'border-radius': '25px',
          }"
    />
    <ngx-skeleton-loader
      [theme]="{
            width: '200px',
            height: '25px',
            'border-radius': '16px',
          }"
    />
  </div>
  }
</div>

}
