Poniższy wykres ilustruje ilu polityków posiada ile nieruchomości o wartości
powyżej
<input
  matInput
  type="number"
  min="0"
  step="10000"
  [ngModel]="minValue()"
  (ngModelChange)="updateMinValue($event)"
/>
zł*.
<div class="explanation-text">
  *Celem wyłączenia z analizy nieruchomości typu "miejsce postojowe" lub
  podobnych.
</div>
<div class="chart-container">
  <div class="buttons-container">
    <button
      mat-fab
      (click)="onButtonPreviousClicked()"
      [disabled]="this.currentDataIndex() <= 0"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-fab
      (click)="onButtonNextClicked()"
      [disabled]="this.currentDataIndex() >= this.maxDataIndex() - 1"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <canvas
    baseChart
    [data]="this.barChartData()"
    [options]="this.barChartOptions"
    [type]="'bar'"
  >
  </canvas>
</div>
@if(this.selectedRealEstateNumber() != undefined) {
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Lista polityków posiadających
      {{ this.selectedRealEstateNumber() }}
      @if(this.selectedRealEstateNumber() == 1){ nieruchomość: }
      @else{nieruchomości:}</mat-panel-title
    >
  </mat-expansion-panel-header>
  @for(person of this.selectedPersons(); track person.link) {
  <span>- {{ person.fullName }}</span>
  <br />
  }
</mat-expansion-panel>
}
