.histogram-container {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.row {
  display: flex;
  height: 100%;
}

.column {
  box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
  width: 60%;
}

.column:nth-child(2) {
  width: 40%;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 18px;
  width: 100px;
}
.explanation-text {
  font-size: 14px;
}

.scroller {
    overflow-y: auto;
    height: 200px;
  }
  

.chart-container {
  position: relative;
  height: 300px;
}


canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
