<main>
  <div class="search-container">
    <app-person-autocomplete
      class="person-autocomplete"
      [minimumMatchingLetters]="2"
      (personSelected)="onPersonSelected($event)"
    />
    <button mat-stroked-button (click)="onGetRandomPersonButtonClicked()">
      <mat-icon>shuffle</mat-icon>
      Losuj
    </button>
  </div>

  <h3>Najpopularniejsi politycy</h3>
  <highlights-carousel (personClicked)="onHighlightPersonClicked($event)" />
  <h3>Lista alfabetyczna</h3>
  <app-persons-list></app-persons-list>
</main>
