<mat-card class="personal-data-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ this.person.name }}</mat-card-title>
      <mat-card-subtitle>{{ this.person.party?.name }}</mat-card-subtitle>
      <img
        class="profile-picture"
        src="https://www.gov.pl/photo/format/3ee40966-20e8-4c53-885a-cd73ab619d87/resolution/729x308"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>
        <div class="grid-left-text">Data urodzenia</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-right-text">
          {{ this.person.dateOfBirth | date : "dd/MM/yyyy" }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-left-text">Miejsce urodzenia</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-right-text">{{ this.person.placeOfBirth }}</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-left-text">Ostatnie oświadczenie</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-right-text">
          {{ this.lastDeclaration()?.date | date : "dd.MM.yyyy" }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-left-text">Wartość netto</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="grid-right-text">
          {{ this.lastDeclaration()?.netValue }} PLN
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
