.personal-data-card {
    max-width: 500px;
  }
  
  .grid-left-text {
    position: absolute;
    left: 0px;
  }
  
  .grid-right-text {
    position: absolute;
    right: 0px;
  }

  .profile-picture {
    width: 128px;
    height: 128px;
    object-fit: cover;
  }