<mat-dialog-content>
  <h2 mat-dialog-title>To ważne</h2>
  <p>
    Podsumowania oświadczeń majątkowych przedstawione na tej stronie zostały
    wygenerowane za pomocą AI i <b>mogą zawierać błędy.</b>
  </p>
  <p>
    Oficjalne oświadczenia majątkowe polskich polityków dostępne są
    <a href="https://www.sejm.gov.pl/" target="_blank">www.sejm.gov.pl</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" cdkFocusInitial>
    OK
  </button>
</mat-dialog-actions>
