main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 400px;
  font-size: 20px;
}

.form-label {
  font-size: 20px;
}

.autocomplete-option {
  font-size: 20px;
}