main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  margin: 16px;
  width: 30%;
  font-size: 20px;
}

.form-label {
  font-size: 20px;
}

.autocomplete-option {
  font-size: 20px;
}
