.chart-container
{
    position: relative;
    height: 50vh;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 18px;
    width: 100px;
  }
  
  .explanation-text {
    font-size: 14px;
  }