.mat-toolbar {
  position: relative;
}

.header-title {
  font-size: 20px;
  position: absolute;
}

.center-tabs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.router-wrapper {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}
