.router-wrapper {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}


a {
  margin: 4px 20px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.active-link {
    background-color: var(--color-accent); 
    color: white;
  }
}