.spacer {
  flex: 1 1 auto;
}

.router-wrapper {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

a {
  margin: 4px 20px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &.active-link {
    background-color: var(--color-accent);
    color: white;
  }
}