@if(this.isPreviewActive()) {
<mat-toolbar>
  @for(link of displayedNavLinks(); track link.path) {
  <a
    mat-button
    [routerLink]="link.path"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ link.data!["label"] }}
  </a>
  }
  <span class="spacer"></span>
  @if(isLoggedIn()) {
  <button mat-icon-button (click)="onLogoutClicked()">
    <mat-icon>logout</mat-icon>
  </button>
  } @else {
  <button mat-icon-button routerLink="login">
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>

<mat-tab-nav-panel #tabPanel>
  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>
</mat-tab-nav-panel>
} @else {
<mat-form-field>
  <mat-label>Preview pass</mat-label>
  <input matInput type="password" [(ngModel)]="this.password" />
</mat-form-field>
}
